@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overscroll-behavior-y: none;
  padding-top: env(safe-area-inset-top);
}

.pb-safe {
  padding-bottom: calc(env(safe-area-inset-bottom) + 4rem);
}
